// Copy this template as "config.h" and fill it.

#ifndef GADGETS_CONFIG_H
#define GADGETS_CONFIG_H

// Wi-Fi settings
#define WIFI_SSID "SSID"
#define WIFI_PASS "PASSWORD"

// InfluxDB writer
#define DB_HOST "server.lan"
#define DB_PORT 8086
#define DB_NAME "sensors"
#define DEVICE_TAGS "device=ufo1,location=kitchen"

#endif // include guard
